<div class="container mt-5 d-flex justify-content-center">
  <div class="card w-75">
    <div class="card-body">
      <div class="d-flex mt-2 align-items-center">
        <h5 class="card-title">Random Password Generator</h5>
        <i class="fa-solid fa-key fa-lg ms-2 "></i>
      </div>

      <hr> <!--     分隔線     -->

      <form action="post" method="/index" novalidate>

        <!--      Password Length      -->
        <div class="mb-3">
          <div class="row d-flex">
            <div class="col-sm-5 ">
              <label for="passwordLength" class="form-label ">Password Length</label>
            </div>
            <div class="col-sm-7">
              <input name="passwordLength" type="number" class="form-control" id="passwordLength" min="4" max="16"
                required>
              <div id="password-length-Help" class="form-text">Length is available between 4 ~ 16</div>
            </div>
          </div>
        </div>

        <!--     Checkboxes       -->
        <!--      Lowercase      -->
        <div class="row mb-3 d-flex ">
          <div class="col-sm-5">Include Lowercase Characters</div>
          <div class="col-sm-7">
            <input type="checkbox" class="form-check-input" name="lowercase" id="lowercase">
            <label class="form-check-label" for="lowercase">(e.g. abcdefg...)</label>
          </div>
        </div>

        <!--      Uppercase      -->
        <div class="row mb-3 d-flex ">
          <div class="col-sm-5">Include Uppercase Characters</div>
          <div class="col-sm-7">
            <input type="checkbox" class="form-check-input" name="uppercase" id="uppercase">
            <label class="form-check-label" for="uppercase">(e.g. ABCDEFG...)</label>
          </div>
        </div>

        <!--      Number      -->
        <div class="row mb-3 d-flex ">
          <div class="col-sm-5">Include Numbers</div>
          <div class="col-sm-7">
            <input type="checkbox" class="form-check-input" name="number" id="number">
            <label class="form-check-label" for="number">(e.g. 123456...)</label>
          </div>
        </div>

        <!--      Symbols      -->
        <div class="row mb-3 d-flex ">
          <div class="col-sm-5">Include Symbols</div>
          <div class="col-sm-7">
            <input type="checkbox" class="form-check-input" name="symbol" id="symbol">
            <label class="form-check-label" for="symbol">(e.g. @#$%...)</label>
          </div>
        </div>

        <!--     Exclude Characters       -->
        <div class="mb-3">
          <label for="excludeChar" class="form-label">Exclude Characters</label>
          <input type="text" class="form-control" name="excludeChar" id="excludeChar">
          <div id="excludeHelp" class="form-text">These characters will not appear in the password</div>
        </div>

        <button type="submit" class="btn btn-success" id="submit-btn">Generate Password</button>
      </form>
    </div>
  </div>
</div>